
<style>
    nav{
      height:100px ;
      width: 100%;
    }
 </style>
     <nav>
         
             <img src="https://cdn.pixabay.com/photo/2024/02/16/10/42/ai-generated-8577256_640.png"alt="logo" height="50px" width="75px">
         
         <a href="/dashboard" style="padding:200px ; text-decoration: none; font-size: 26px;" >Home</a>
         <a href="/employelist " style="padding: 100px; text-decoration: none; font-size: 26px">Employee List</a>
         
         <a href="/logout" style="padding: 200px; text-decoration: none; font-size: 26px">Logout</a>
 
         
     </nav>
 